{% extends 'base.html'%}

{% load crispy_forms_tags %}
{% block content%}
<div class="alert alert-info" role="alert" style="font-size: 2rem">
    <h2 style="text-align: center"> Welcome {{user.username}}, Here Is All Your Uploaded Files</h2>
</div>
<div class="col-10">
    <table class="table">
        <thead>
        <tr>
            <th>File Name</th>
            <th>File urls</th>
            <th>Upload Date</th>
            <th>Delete File</th>
        </tr>
        {% for file in files %}
        <tr>
            <td>{{file.file}}</td>
            <td>
                <a href="{{file.file.url}}" class="btn btn-primary btn-sm" target="_blank"> Download </a>
            </td>
            <td>{{file.created_at}}</td>
            <td>
                <a href="{% url 'delete_file' file.pk %}" class="btn btn-danger btn-sm"> Delete </a>
            </td>
        </tr>

        {% endfor %}

        </thead>
    </table>
</div>
{%endblock%}