{% extends 'base.html' %}

{% block content %}
<div class="alert alert-info" role="alert" style="font-size: 2rem">
    <h2 style="text-align: center"> আমাদের সেবাসমুহ </h2>
</div>

    <div class="card-deck">
        <div class="card">
            <img src="{% static 'images/diagnostic-5.jpg' %}" class="d-block w-100" alt="photo">
            <div class="card-body">
                <h3 class="card-title">সেরা চিকিৎসা </h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>

        </div>
        <div class="card">
            <img src="{% static 'images/diagnostic-1.jpg' %}" class="d-block w-100" alt="photo">
            <div class="card-body">
                <h3 class="card-title">উন্নত ল্যাবরেটরি </h3>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>

        </div>
        <div class="card">
            <img src="{% static 'images/diagnostic-4.jpg' %}" class="d-block w-100" alt="photo">
            <div class="card-body">
                <h5 class="card-title">সেরা ডাক্তার </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>

        </div>
    </div>

    {% endblock %}
